#{extends 'main.html' /}
#{set title:'Editor' /}

<div id="editor" class="flex-container">
	<div id="editor_content" class="flex-item-fluid" spellcheck="true">
		<div class="chapter" v-for="chapter in chapters" id="chapter_{{chapter.number}}">
			<h3 class="lobster txtcenter w100">Chapter {{chapter.number}}</h3>
			<h3 class="lobster txtcenter w100 chapter_title" v-show="chapter.title.length > 0">{{chapter.title}}</h3>
			<div contenteditable="true" class="scene" v-for="scene in chapter.content" id="chapter_{{chapter.number}}_scene_{{$index}}" v-on:keyup="contentUpdate(chapter.number, $index, $event)" v-on:blur="contentUpdate(chapter.number, $index, $event)" v-on:paste="contentUpdate(chapter.number, $index, $event)" v-on:delete="contentUpdate(chapter.number, $index, $event)" v-on:focus="contentUpdate(chapter.number, $index, $event)">{{{* scene.content}}}</div>
		</div>
	</div>
	<nav id="editor_nav" class="w200p">
		<div>
			<i class="material-icons button" title="Save to server" v-on:click="pushToServer()">save</i>
			<i class="material-icons button" title="Add a chapter" v-on:click="addChapter()">add_circle</i>
		</div>
		<div>
			&{'editor.wordcount'} {{$data.getWords()}}
		</div>
		<div class="chapter_list">
			&{'editor.chapters'}
			<ul class="chapter_list">
				<li v-for="chapter in chapters" class="chapter_list">
					<span v-on:click="goTo(chapter.number)">{{chapter.number}} - {{chapter.getWords()}} &{'editor.words'}</span>
					<i class="material-icons fr" title="Delete chapter" v-on:click="removeChapter(chapter.number)">delete</i>
					<div id="chapter_title_{{chapter.number}}" class="chapter_title" contenteditable="true" data-text="Chapter title" v-on:keyup="chapterTitleUpdate(chapter.number, $event)">{{* chapter.title}}</div>
				</li>
			</ul>
		</div>
	</nav>
</div>
<script type="text/javascript">
	var projectEncrypted = "${project.getLatestVersionContent()}";
	var projectKey = "${project.idKey}";
	var vault = readVault();
	var decryptionKey = vault[projectKey];
	var projectJson = JSON.parse(decryptFromServer(decryptionKey.key, decryptionKey.iv, projectEncrypted));
	if(projectJson.remoteId == null) {
		projectJson.remoteId = ${project.id};
	}
	var project = prototypeProject(projectJson);
	
	var projectVue = new Vue({
		el: '#editor',
		data: project,
		methods: {
			goTo: function(number) {
				window.location.href= "#chapter_" + number;
			},
			contentUpdate: function(chapter, scene, event) {
				this.chapters[chapter - 1 ].content[scene].content = $(event.target).html().trim();
			},
			pushToServer: function() {
				saveProjectVersion(this.$data);
			},
			addChapter: function() {
				this.$data.addChapter();
			},
			removeChapter: function(chapter) {
				var message = "Chapter " + chapter + " containing " + this.chapters[chapter - 1].getWords() + " words is about to be deleted. Do you confirm?";
				if(askConfirmation(message)) {
					this.$data.removeChapter(chapter);
				}
			},
			chapterTitleUpdate: function(chapter, event) {
				this.chapters[chapter - 1 ].title = $(event.target).html().trim();
			}
		},
		ready: function() {
			if(this.$data.chapters.length == 1 && this.$data.chapters[0].content.length == 1) {
				focusOnEditableContent("chapter_1_scene_0", 0);
			}
		}
	});
</script>