#{extends 'main.html' /}
#{set 'title'}&{'editor.title'}#{/set}

<div id="editor" class="flex-container">
	<div id="editor_content" class="flex-item-fluid" spellcheck="true">
		<div class="chapter" v-for="chapter in chapters" id="chapter_{{chapter.number}}">
			<h3 class="lobster txtcenter w100">
				<span class="content">&{'editor.chapter'} {{chapter.number}}</span><span class="buttons">
					<i class="fa fa-trash-o button" v-on:click="removeChapter(chapter.number)" title="&{'editor.icons.deletechapter'}"></i>
				</span>
			</h3>
			<input class="txtcenter w100 chapter_title" v-model="chapter.title" placeholder="&{'editor.placeholders.chaptertitle'}"/>
			<div contenteditable="true" class="scene" v-for="scene in chapter.content" id="chapter_{{chapter.number}}_scene_{{$index}}" v-on:keyup="contentUpdate(chapter.number, $index, $event)" v-on:blur="contentUpdate(chapter.number, $index, $event)" v-on:paste="contentUpdate(chapter.number, $index, $event)" v-on:delete="contentUpdate(chapter.number, $index, $event)" v-on:focus="contentUpdate(chapter.number, $index, $event)">{{{* scene.content}}}</div>
			<div class="txtright addScene"><i class="fa fa-plus-circle button" title="&{'editor.icons.addscene'}" v-on:click="addScene(chapter.number)" role="button" tabindex="0" v-on:keydown.enter="addScene(chapter.number)" aria-label="&{'editor.icons.addscene'}"></i></div>
		</div>
		<div class="txtright addChapter"><i class="fa fa-plus-circle button" title="&{'editor.icons.addchapter'}" v-on:click="addChapter()" role="button" tabindex="0" v-on:keydown.enter="addChapter()" aria-label="&{'editor.icons.addchapter'}"></i></div>
	</div>
	<nav id="editor_nav" class="prs center">
		<div>
			<i class="fa fa-floppy-o button" title="&{'editor.icons.savetoserver'}" v-if="saved" role="button" tabindex="0" aria-label="&{'editor.icons.savetoserver'}" disabled="disabled"></i>			
			<i class="fa fa-floppy-o button" title="&{'editor.icons.savetoserver'}" v-else v-on:click="pushToServer()" role="button" tabindex="0" v-on:keydown.enter="pushToServer()" aria-label="&{'editor.icons.savetoserver'}"></i>
		</div>
		<div>
			<i class="fa fa-book button" title="&{'editor.icons.getepub'}" v-on:click="getEpub()" role="button" tabindex="0" v-on:keydown.enter="getEpub()" aria-label="&{'editor.icons.getepub'}"></i>
		</div>
		<div>
			<i class="fa fa-gear button" title="&{'editor.icons.setupoutput'}" v-on:click="showEpubConfig()" role="button" tabindex="0" v-on:keydown.enter="showEpubConfig()" aria-label="&{'editor.icons.setupoutput'}"></i>
		</div>
		<div>
			<i class="fa fa-history button" title="&{'editor.icons.history'}" v-on:click="showHistory()" role="button" tabindex="0" v-on:keydown.enter="showHistory()" aria-label="&{'editor.icons.history'}"></i>
		</div>
		<div>			
			<i class="fa fa-floppy-o button" title="&{'editor.icons.localtoserver'}" v-else v-on:click="pushLocalVersions()" role="button" tabindex="0" v-on:keydown.enter="pushLocalVersions()" aria-label="&{'editor.icons.localtoserver'}"></i>
		</div>
		<div id="connection-status">
			<i class="fa fa-plug button"></i>
		</div>
		<!--div class="chapter_list">
			&{'editor.chapters'}
			<ul class="chapter_list">
				<li v-for="chapter in chapters" class="chapter_list">
					<span v-on:click="goTo(chapter.number)">&{'editor.chapter'} {{chapter.number}} - {{chapter.getWords()}} &{'editor.words'}</span>
				</li>
			</ul>
		</div-->
	</nav>
	<div id="outputConfig">
		<div>
			<h2>&{'editor.export.config.title'}</h2>
			<label>&{'editor.export.config.navpos.label'}</label>
			<select v-model="exportConfig.navPosition">
				<option value="start">&{'editor.export.config.navpos.start'}</option>
				<option value="end">&{'editor.export.config.navpos.end'}</option>
				<option value="none">&{'editor.export.config.navpos.none'}</option> 
			</select>
			<h3>&{'editor.export.config.localization'}</h3>
			<label>&{'editor.export.config.localization.tableOfContent'}</label>
			<input type="text" v-model="exportConfig.content.tableOfContent"/>
			<label>&{'editor.export.config.localization.sceneSeparator'}</label>
			<input type="text" v-model="exportConfig.content.sceneSeparator"/>
			<label>&{'editor.export.config.localization.chapterFormat.withTitle'}</label>
			<input type="text" v-model="exportConfig.content.chapterWithTitleFormat"/>
			<label>&{'editor.export.config.localization.chapterFormat.withoutTitle'}</label>
			<input type="text" v-model="exportConfig.content.chapterWithoutTitleFormat"/>
			<label>&{'editor.export.config.localization.chapterFormat.nav.withTitle'}</label>
			<input type="text" v-model="exportConfig.content.chapterWithTitleFormatNav"/>
			<label>&{'editor.export.config.localization.chapterFormat.nav.withoutTitle'}</label>
			<input type="text" v-model="exportConfig.content.chapterWithoutTitleFormatNav"/>
			<div class="confirmationButtons">
				<button class="btn btn-primary" v-on:click="closeEpubConfig()" role="button" tabindex="0" v-on:keydown.enter="closeEpubConfig()" aria-label="&{'editor.icons.confirmconfig'}"><i class="fa fa-check"></i> <span>&{'editor.icons.confirmconfig'}</span></button>
			</div>
		</div>
	</div>
	<div id="historyDialog">
		<div>
			<h2>&{'editor.history.title'}</h2>
			<table id="historyList">
				<thead>
					<tr>
						<th>Date</th>
						<th>Number of chapters</th>
						<th>Number of words</th>
					</tr>
				</thead>
				<tbody>
				#{list items: project.getVersions(), as:'version'}
					<tr>
						<td>${version.date.format('HH:mm:ss dd/MM/YYYY')}</td>
						<td>${version.chapters}</td>
						<td>${version.words}</td>
					</tr>
				#{/list}
				</tbody>
			</table> 
		</div>
		<button class="closebutton" v-on:click="closeHistory()"><i class="fa fa-times"></i></button>
	</div>
	<div class="footer">
		&{'editor.wordcount'} {{$data.getWords()}}
	</div>
	<a id="download-epub" style="display:none" aria-hidden="true">&{'editor.icons.getepub'}</a>
</div>
<script type="text/javascript">
	$(document).ready(function() {
		window.addEventListener('offline', function(e) {
			if(!isConnected()) {
				$("#connection-status").removeClass("connected");
				$("#connection-status").addClass("disconnected");
			}
		});
		window.addEventListener('online', function(e) { 
			$("#connection-status").addClass("connected");
			$("#connection-status").removeClass("disconnected"); 
		});
		if(isConnected()) {
			$("#connection-status").addClass("connected");
			$("#connection-status").removeClass("disconnected");
		} else {
			$("#connection-status").removeClass("connected");
			$("#connection-status").addClass("disconnected");
		}
	});

	localCalls.appendLocalVersions();


	zip.workerScriptsPath = "/public/js/";

	var projectEncrypted = "${project.getLatestVersionContent()}";
	var projectKey = "${project.idKey}";
	var vault = readVault();
	var decryptionKey = vault[projectKey];
	var projectJson = JSON.parse(decryptFromServer(decryptionKey.key, decryptionKey.iv, projectEncrypted));
	if(projectJson.remoteId == null) {
		projectJson.remoteId = ${project.id};
	}
	var project = prototypeProject(projectJson);
	project.saved = true;
	
	var projectVue = new Vue({
		el: '#editor',
		data: project,
		methods: {
			goTo: function(number) {
				window.location.href= "#chapter_" + number;
			},
			contentUpdate: function(chapter, scene, event) {
				this.saved = false;
				var previousLength = this.chapters[chapter - 1 ].content[scene].content.length;
				this.chapters[chapter - 1 ].content[scene].content = $(event.target).html().trim();
				if(previousLength == 0 && this.chapters[chapter - 1 ].content[scene].content.length == 0) {
					if(event.keyCode == 8 || event.keyCode == 46) {
						var message = "&{'editor.messages.removescene.firstpart'} " + chapter + " &{'editor.messages.removescene.finalpart'}";
						var $this = this;
						askConfirmation(message, "&{'editor.messages.removescene.button'}").pipe(function() {
							$this.$data.chapters[chapter - 1].removeScene(scene + 1);
						});
					}
				}
			},
			pushToServer: function() {
				saveProjectVersion(this.$data);
				this.saved = true;
			},
			pushLocalVersions: function() {
				saveLocalVersions(this.$data.remoteId);
			},
			addChapter: function() {
				this.$data.addChapter();
			},
			removeChapter: function(chapter) {
				var message = "&{'editor.messages.removechapter.firstpart'} " + chapter + " &{'editor.messages.removechapter.secondpart'} " + this.chapters[chapter - 1].getWords() + " &{'editor.messages.removechapter.finalpart'}";
				var $this = this;
				askConfirmation(message, "&{'editor.messages.removechapter.button'}").pipe(function() {
					$this.$data.removeChapter(chapter);
				});
			},
			addScene: function(chapter) {
				this.chapters[chapter - 1].addScene();
			},
			getEpub: function() {
				var epub = new EpubBuilder(project);
				epub.build(function(result) {
					var clickEvent;
					var downloadButton = document.getElementById("download-epub");
					clickEvent = document.createEvent("MouseEvent");
					clickEvent.initMouseEvent("click", true, true, window, 0, 0, 0, 0, 0, false, false, false, false, 0, null);
					downloadButton.href = URL.createObjectURL(result);
					downloadButton.download = project.name + ".epub";
					downloadButton.dispatchEvent(clickEvent);
				});
			},
			showEpubConfig: function() {
				$("#outputConfig").css("display", "flex");
			},
			closeEpubConfig: function() {
				$("#outputConfig").css("display", "none");
			},
			showHistory: function() {
				$("#historyDialog").css("display", "flex");
			},
			closeHistory: function() {
				$("#historyDialog").css("display", "none");
			}
		},
		ready: function() {
			if(this.$data.chapters.length == 1 && this.$data.chapters[0].content.length == 1) {
				focusOnEditableContent("chapter_1_scene_0", 0);
				this.$data.saved = true;
			}
		}
	});
	
	window.onbeforeunload = function (e) {
	    if(!project.saved) {
	    	e.returnValue="&{'editor.messages.warningnotsaved'}";
	    	return "&{'editor.messages.warningnotsaved'}";
	    }
	};
</script>