#{extends 'main.html' /}
#{set title:'Home' /}

#{if user.getProjects().size() > 0}
<article id="features">
	#{list items:user.getProjects(), as:'project'}
	<div class="book" onclick="location.href='/project/${project.id}'">
		<i class="fa fa-book"></i>
		<h3>${project.name}</h3>
		${project.getLastUpdate().format('dd/MM/yyyy HH:mm:ss')}
	</div>
	#{/list}
</article>
<div class="separator"></div>
#{/if}
<article id="createProjectSection">
	<validator name="validationNewProject">
		<form id="createnewproject">
			<h2>Create a new project</h2>
			<p id="projectname-field" class="form-control required">
				<label for="projectname">&{'project.name'}</label>
				<input type="text" name="projectname" id="projectname" v-validate:projectname="{required: true, projectexist: true}"/>
				<span v-if="$validationNewProject.projectname.required" class="error">&{'project.validation.projectname.required'}</span>
				<span v-if="$validationNewProject.projectname.projectexist" class="error">&{'project.validation.projectname.exists'}</span>
			</p>
			<p id="password-field" class="form-control required">
				<label for="password">&{'project.new.password'}</label>
				<input type="password" name="password" id="password"  v-validate:password="{required: true, validatepassword: true}"/>
				<span v-if="$validationNewProject.password.required" class="error">&{'project.validation.password.required'}</span>
				<span v-if="$validationNewProject.password.required == false && $validationNewProject.password.validatepassword" class="error">&{'project.validation.password.validate'}</span>
			</p>
			<input type="hidden" id="ivVault" value="${user.getVault()._2}"/>
			<p id="buttoncreateproject-field" class="form-buttons">
				<button id="createproject" class="btn btn-primary" onclick="return createProject()" v-if="$validationNewProject.valid">&{'project.create.new'}</button>
				<button id="createproject" class="btn btn-deactivated" onclick="return false" disabled="disabled" v-else>&{'project.create.new'}</button>
			</p>
		</form>
	</validator>
</article>
<script>
	Vue.use(VueValidator);
	new Vue({
		el: '#createProjectSection',
		validators: {
			validatepassword: function(val) {
				var masterKey = readCookie("masterKey");
				var sha256Password = CryptoJS.SHA256(val).toString(CryptoJS.enc.Hex)
				return sha256Password == masterKey;		
			},
			projectexist: function(val) {
				var result = true;
				$(".book h3").each(function() {
					if($(this).text().trim() == val.trim()) {
						result = false;
					}
				});
				return result; 
			}
	
		}
	});
</script>
#{if user.getProjects().size() > 0}
<div class="hidden">
</div>
<script>
	var vault = readVault();
	vault2 = null;
	var knowsAllProjects = true;
	#{list items:user.getProjects(), as:'project'}
		knowsAllProjects = knowsAllProjects && (vault["${project.idKey}"] !== undefined);
	#{/list}
	if(!knowsAllProjects) {
		var password = askInput("A project has been created from another session, please confirm your password to synchronize this session");
		var fullVault = "${user.getVault()._1}";
		var vaultIv = "${user.getVault()._2}";
		var vaultTmp = openVault(password, vaultIv, fullVault);
		if(vaultTmp == null) {
			errorMessage("Wrong password");
			location.reload();
		} else {
			var words = CryptoJS.enc.Base64.parse(vaultTmp);
			var stringVault = CryptoJS.enc.Utf8.stringify(words);
			vault = JSON.parse(stringVault);
			writeVault(vault);
		}
	}
</script>
#{/if}