#{extends 'main.html' /}
#{set title:'Home' /}

#{if user.getProjects().size() > 0}
<article id="features">
	#{list items:user.getProjects(), as:'project'}
	<div class="book" onclick="location.href='/project/${project.id}'">
		<i class="fa fa-book"></i>
		<h3>${project.name}</h3>
		${project.getLastUpdate().format('dd/MM/yyyy HH:mm:ss')}
	</div>
	#{/list}
</article>
<div class="separator"></div>
#{/if}
<article>
	<form id="createnewproject">
		<h2>Create a new project</h2>
		<p id="projectname-field" class="form-control">
			<label for="projectname">&{'project.name'}</label>
			<input type="text" name="projectname" id="projectname" />
		</p>
		<p id="password-field" class="form-control">
			<label for="password">&{'project.new.password'}</label>
			<input type="password" name="password" id="password" />
		</p>
		<input type="hidden" id="ivVault" value="${user.getVault()._2}"/>
		<p id="buttoncreateproject-field" class="form-buttons">
			<button id="createproject" class="btn btn-primary" onclick="return createProject()">&{'project.create.new'}</button>
		</p>
	</form>
</article>