<!DOCTYPE html>

<html>
    <head>
        <title>Seshat - JS Unit Tests - Model and Crypto</title>

		<link rel="shortcut icon" type="image/png" href="@{'/public/js/jasmine/lib/jasmine-2.4.1/jasmine_favicon.png'}">
		<link rel="stylesheet" type="text/css" href="@{'/public/js/jasmine/lib/jasmine-2.4.1/jasmine.css'}">

		<script type="text/javascript" src="@{'/public/js/jasmine/lib/jasmine-2.4.1/jasmine.js'}"></script>
		<script type="text/javascript" src="@{'/public/js/jasmine/lib/jasmine-2.4.1/jasmine-html.js'}"></script>
		<script type="text/javascript" src="@{'/public/js/jasmine/lib/jasmine-2.4.1/boot.js'}"></script>
		
		<script src="@{'public/js/cryptojs/rollups/aes.js'}"></script>
		<script src="@{'public/js/cryptojs/rollups/pbkdf2.js'}"></script>
		<script src="@{'public/js/model/project.js'}"></script>
		<script src="@{'public/js/connected.js'}"></script>
		<script src="@{'public/js/main.js'}"></script>
	</head>
	<body>
		<script>
			describe("Model classes", function() {
				it("can create an empty project", function(){
					var project = new Project("Test project");
					expect(project).toEqual(jasmine.any(Object));
					expect(project.name).toBe("Test project");
					expect(project.summary).toBe("");
					expect(project.chapters).toEqual([]);
					expect(project.key).toEqual(jasmine.any(String));
				});
				it("can add a chapter", function() {
					var project = new Project("Test project with chapters");
					expect(project.addChapter).toEqual(jasmine.any(Function));
					project.addChapter();
					expect(project.chapters.length).toBe(1);
					expect(project.chapters[0]).toEqual(jasmine.any(Object));
					expect(project.chapters[0].number).toBe(1);
					expect(project.chapters[0].content).toEqual(jasmine.any(Array));
					expect(project.chapters[0].content.length).toBe(1);
					expect(project.chapters[0].content[0].content).toBe("");
				});
				it("can add multiple chapters", function() {
					var project = new Project("Test project with chapters");
					project.addChapter();
					project.addChapter();
					expect(project.chapters.length).toBe(2);
					expect(project.chapters[0].number).toBe(1);
					expect(project.chapters[1].number).toBe(2);
				});
				it("can remove a chapter", function() {
					var project = new Project("Test project with chapters");
					expect(project.removeChapter).toEqual(jasmine.any(Function));
					for(var i = 0; i < 10; i++) {
						project.addChapter();
					}
					expect(project.chapters.length).toBe(10);
					expect(project.removeChapter(11)).toBe(false);
					expect(project.chapters.length).toBe(10);
					expect(project.removeChapter(0)).toBe(false);
					expect(project.chapters.length).toBe(10);
					expect(project.removeChapter(1)).toBe(true);
					expect(project.chapters.length).toBe(9);
					for(var i = 0; i < 9; i++) {
						expect(project.chapters[i].number).toBe(i+1);
					}
					expect(project.removeChapter(9)).toBe(true);
					expect(project.chapters.length).toBe(8);
					for(var i = 0; i < 8; i++) {
						expect(project.chapters[i].number).toBe(i+1);
					}
					expect(project.removeChapter(4)).toBe(true);
					expect(project.chapters.length).toBe(7);
					for(var i = 0; i < 7; i++) {
						expect(project.chapters[i].number).toBe(i+1);
					}
				});
				it("can add a scene", function() {
					var project = new Project("Test with chapters and multiple scenes");
					project.addChapter();
					project.chapters[0].content[0].content = "Scene 1";
					project.chapters[0].addScene();
					expect(project.chapters[0].content.length).toBe(2);
					expect(project.chapters[0].content[0].content).toBe("Scene 1");
				});
				it("can remove a scene", function() {
					var project = new Project("Test with chapters and multiple scenes");
					project.addChapter();
					project.chapters[0].content[0].content = "Scene 1";
					var chapter = project.chapters[0];
					for(var i = 0; i < 5; i++) {
						chapter.addScene();
						chapter.content[i + 1].content = "Scene " + (i+2);
					}
					expect(project.chapters[0].content.length).toBe(6);
					expect(chapter.removeScene(0)).toBe(false);
					expect(chapter.removeScene(7)).toBe(false);
					expect(chapter.removeScene(3)).toBe(true);
					expect(project.chapters[0].content.length).toBe(5);
					expect(chapter.content[1].content).toEqual("Scene 2");
					expect(chapter.content[2].content).toEqual("Scene 4");
				});
			});
			describe("Client side crypto methods", function(){
				it("can encrypt a message", function() {
					var key = "6KeWgxIT6/TDV5MPZQCm7lodTLYH9T2cHDh8x7dL/QA=";
					var iv = "767oue2NJ9uLqOvjffH1ng==";
					var message = "Message";
					var encrypted = encryptToServer(key, iv, message);
					expect(encrypted).toBe("cAgnrSrVUdZOpKJguykRlA==");					
				});
				it("can decrypt a message", function(){
					var key = "6KeWgxIT6/TDV5MPZQCm7lodTLYH9T2cHDh8x7dL/QA=";
					var iv = "767oue2NJ9uLqOvjffH1ng==";
					var message = "cAgnrSrVUdZOpKJguykRlA==";
					var decrypted = decryptFromServer(key, iv, message);
					expect(decrypted).toBe("Message");
				});
				it("cannot decrypt a message with wrong key", function(){
					var key = "NktlV2d4SVQ2L1REVjVNUFpRQ203bG9kVExZSDlUMmNIRGg4eDdkTC9RQT0=";
					var iv = "767oue2NJ9uLqOvjffH1ng==";
					var message = "cAgnrSrVUdZOpKJguykRlA==";
					var decrypted = decryptFromServer(key, iv, message);
					expect(decrypted).toBe(null);
				});
				it("cannot decrypt a message with wrong iv", function(){
					var key = "6KeWgxIT6/TDV5MPZQCm7lodTLYH9T2cHDh8x7dL/QA=";
					var iv = "${tempUser.getVault()._2}";
					var message = "cAgnrSrVUdZOpKJguykRlA==";
					var decrypted = decryptFromServer(key, iv, message);
					expect(decrypted).toBe(null);
				});
				it("can generate key and iv", function() {
					var keyIv = generateKeyAndIv("Secret Passphrase");
					expect(keyIv).toEqual(jasmine.any(Object));
					expect(keyIv.key).toEqual(jasmine.any(String));
					expect(keyIv.iv).toEqual(jasmine.any(String));
					var message = "Message";
					var encrypted = encryptToServer(keyIv.key, keyIv.iv, message);
					expect(encrypted).not.toBe(null);
					var anotherKey = generateKeyAndIv("Secret Passphrase");
					expect(keyIv.key).not.toEqual(anotherKey.key);
					expect(keyIv.iv).not.toEqual(anotherKey.iv);
				});
			});
			describe("Master keys vault", function() {
			  	it("can read empty vault from server", function() {
			  		var decrypted = openVault("password", "${tempUser.getVault()._2}", "${tempUser.getVault()._1}");
			    	expect(decrypted).toBe(null);
			  	});
			  	it("cannot read vault with wrong password", function() {
			  		var decrypted = openVault("fakepassword", "${tempUser.getVault()._2}", "${tempUser.getVault()._1}");
			    	expect(decrypted).toBe(null);
			  	});
			  	it("can add a new key to the vault", function() {
			  		var vault = readVault();
			  		var project = new Project("Test for vault");
			  		vault[project.key] = generateKeyAndIv("Test for vault");
			  		expect(vault[project.key]).toBeDefined();
			  		expect(vault[project.key]).toEqual(jasmine.any(Object));
			  		writeVault(vault);
			  		//var encrypted = saveVault("password", "${tempUser.getVault()._2}", vault);
			  		//expect(encrypted).not.toBe(null);
			  		//var decryptedVault = openVault("password", "${tempUser.getVault()._2}", encrypted);
			  		var decryptedVault = readVault();
			  		expect(decryptedVault).not.toBe(null);
			  		expect(decryptedVault).toEqual(jasmine.any(Object));
			  		expect(decryptedVault[project.key]).toBeDefined();
			  		expect(decryptedVault[project.key]).toEqual(vault[project.key]);
			  	});
			});
			describe("Methods with remote connection", function() {
				it("exist in application", function() {
					expect(remoteCalls).toEqual(jasmine.any(Object));
					expect(remoteCalls.createProject).toEqual(jasmine.any(Function));
				});
				it("can create a project", function() {
					var project = new Project("Test project");
					spyOn(remoteCalls, "createProject");
					remoteCalls.createProject(project);
					expect(remoteCalls.createProject).toHaveBeenCalled();					
				});
			});
		</script>
	</body>
</html>