@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(/fonts/MaterialIcons-Regular.woff) format('woff'),
		url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	width: 1em;
	height: 1em;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

body {
	margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img {
	border: 0px;
}

::-moz-selection {
	background-color: #6ab344;
	color: #fff;
}

::selection {
	background-color: #6ab344;
	color: #fff;
}

.seshat-search-box .mdl-textfield__input {
	color: rgba(0, 0, 0, 0.87);
}

.seshat-header .mdl-menu__container {
	z-index: 50;
	margin: 0 !important;
}

.mdl-textfield--expandable {
	width: auto;
}

.seshat-fab {
	position: absolute;
	right: 20%;
	bottom: -26px;
	z-index: 3;
	background: #64ffda !important;
	color: black !important;
}

.seshat-mobile-title {
	display: none !important;
}

.seshat-logo-image {
	height: 28px;
	width: 140px;
}

.seshat-header {
	overflow: visible;
	background-color: white;
}

.seshat-header .material-icons {
	color: #767777 !important;
}

.seshat-header .mdl-layout__drawer-button {
	background: transparent;
	color: #767777;
}

.seshat-header .mdl-navigation__link {
	color: #757575;
	font-weight: 700;
	font-size: 14px;
}

.seshat-navigation-container {
	/* Simple hack to make the overflow happen to the left instead... */
	direction: rtl;
	order: 1;
	width: 500px;
	transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1), width 0.2s
		cubic-bezier(0.4, 0, 0.2, 1);
}

.seshat-navigation {
	/* ... and now make sure the content is actually LTR */
	direction: ltr;
	justify-content: flex-end;
	width: 800px;
}

.seshat-search-box.is-focused+.seshat-navigation-container {
	opacity: 0;
	width: 100px;
}

.seshat-navigation .mdl-navigation__link {
	display: inline-block;
	height: 60px;
	line-height: 68px;
	background-color: transparent !important;
	border-bottom: 4px solid transparent;
}

.seshat-navigation .mdl-navigation__link:hover {
	border-bottom: 4px solid rgb(63, 81, 181);
}

.seshat-search-box {
	order: 2;
	margin-left: 16px;
	margin-right: 16px;
}

.seshat-more-button {
	order: 3;
}

.seshat-drawer {
	border-right: none;
}

.seshat-drawer-separator {
	height: 1px;
	background-color: #dcdcdc;
	margin: 8px 0;
}

.seshat-drawer .mdl-navigation__link.mdl-navigation__link {
	font-size: 14px;
	color: #757575;
}

.seshat-drawer span.mdl-navigation__link.mdl-navigation__link {
	color: rgb(63, 81, 181);
}

.seshat-drawer .mdl-layout-title {
	position: relative;
	background: #6ab344;
	height: 160px;
}

.seshat-drawer .seshat-logo-image {
	position: absolute;
	bottom: 16px;
}

.seshat-be-together-section {
	position: relative;
	height: 800px;
	width: auto;
	background-color: #f3f3f3;
	background: url('images/slide01.jpg') center 30% no-repeat;
	background-size: cover;
}

.logo-font {
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
	line-height: 1;
	color: #767777;
	font-weight: 500;
}

.seshat-slogan {
	font-size: 60px;
	padding-top: 160px;
}

.seshat-sub-slogan {
	font-size: 21px;
	padding-top: 24px;
}

.seshat-create-character {
	font-size: 21px;
	padding-top: 400px;
}

.seshat-create-character a {
	text-decoration: none;
	color: #767777;
	font-weight: 300;
}

.seshat-screen-section {
	position: relative;
	padding-top: 60px;
	padding-bottom: 80px;
}

.seshat-screens {
	text-align: right;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
}

.seshat-screen {
	text-align: center;
}

.seshat-screen .seshat-link {
	margin-top: 16px;
	display: block;
	z-index: 2;
}

.seshat-image-link {
	text-decoration: none;
}

.seshat-wear {
	display: inline-block;
	width: 160px;
	margin-right: 32px;
}

.seshat-wear .seshat-screen-image {
	width: 40%;
	z-index: 1;
}

.seshat-phone {
	display: inline-block;
	width: 64px;
	margin-right: 48px;
}

.seshat-phone .seshat-screen-image {
	width: 100%;
	z-index: 1;
}

.seshat-tablet {
	display: inline-block;
	width: 110px;
	margin-right: 64px;
}

.seshat-tablet .seshat-screen-image {
	width: 100%;
	z-index: 1;
}

.seshat-tablet .seshat-link {
	display: block;
	z-index: 2;
}

.seshat-tv {
	display: inline-block;
	width: 300px;
	margin-right: 80px;
}

.seshat-tv .seshat-screen-image {
	width: 100%;
	z-index: 1;
}

.seshat-auto {
	display: inline-block;
	width: 300px;
	overflow: hidden;
}

.seshat-auto .seshat-screen-image {
	display: block;
	height: 300px;
	z-index: 1;
}

.seshat-wear-section {
	position: relative;
	background: url('images/wear.png') center top no-repeat;
	background-size: cover;
	height: 800px;
}

.seshat-wear-band {
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	background-color: #37474f;
}

.seshat-wear-band-text {
	max-width: 800px;
	margin-left: 25%;
	padding: 24px;
	text-align: left;
	color: white;
}

.seshat-wear-band-text p {
	padding-top: 8px;
}

.seshat-link {
	text-decoration: none;
	color: rgb(63, 81, 181) !important;
}

.seshat-link:hover {
	color: #7cb342 !important;
}

.seshat-link .material-icons {
	position: relative;
	top: 6px;
}

.seshat-alt-link {
	text-decoration: none;
	color: #64ffda !important;
	font-size: 16px;
}

.seshat-alt-link:hover {
	color: #00bfa5 !important;
}

.seshat-alt-link .material-icons {
	position: relative;
	top: 6px;
}

.seshat-customized-section {
	text-align: center;
}

.seshat-customized-section-text {
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 80px 16px 0 16px;
}

.seshat-customized-section-text p {
	padding-top: 16px;
}

.seshat-customized-section-image {
	background: url('images/devices.jpg') center top no-repeat;
	background-size: cover;
	height: 400px;
}

.seshat-more-section {
	padding: 80px 0;
	max-width: 1044px;
	margin-left: auto;
	margin-right: auto;
}

.seshat-more-section .seshat-section-title {
	margin-left: 12px;
	padding-bottom: 24px;
}

.seshat-card-container {
	
}

.seshat-card-container .mdl-card__media {
	overflow: hidden;
	background: transparent;
}

.seshat-card-container .mdl-card__media img {
	width: 100%;
}

.seshat-card-container .mdl-card__title {
	background: transparent;
	height: auto;
}

.seshat-card-container .mdl-card__title-text {
	color: black;
	height: auto;
}

.seshat-card-container .mdl-card__supporting-text {
	height: auto;
	color: black;
	padding-bottom: 48px;
}

.seshat-card-container .mdl-card__actions {
	position: absolute;
	bottom: 0;
}

.seshat-card-container .mdl-card__actions a {
	border-top: none;
	line-height: 32px;
	font-size: 16px;
}

.seshat-footer {
	background-color: #fafafa;
	position: relative;
}

.seshat-footer a:hover {
	color: rgb(63, 81, 181);
}

.seshat-footer .mdl-mega-footer--top-section::after {
	border-bottom: none;
}

.seshat-footer .mdl-mega-footer--middle-section::after {
	border-bottom: none;
}

.seshat-footer .mdl-mega-footer--bottom-section {
	position: relative;
}

.seshat-footer .mdl-mega-footer--bottom-section a {
	margin-right: 2em;
}

.seshat-footer .mdl-mega-footer--right-section a .material-icons {
	position: relative;
	top: 6px;
}

.seshat-link-menu:hover {
	cursor: pointer;
}

/**** Mobile layout ****/
@media ( max-width : 900px) {
	.seshat-navigation-container {
		display: none;
	}
	.seshat-title {
		display: none !important;
	}
	.seshat-mobile-title {
		display: block !important;
		position: absolute;
		left: calc(50% - 70px);
		top: 12px;
		transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
	}

	/* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
     consecutive "+" operators in some cases. Therefore, we need to use both
     here to cover all the bases. */
	.android.seshat-search-box.is-focused ~ .seshat-mobile-title,
		.seshat-search-box.is-focused+.seshat-navigation-container+.seshat-mobile-title
		{
		opacity: 0;
	}
	.seshat-more-button {
		display: none;
	}
	.seshat-search-box.is-focused {
		width: calc(100% - 48px);
	}
	.seshat-search-box .mdl-textfield__expandable-holder {
		width: 100%;
	}
	.seshat-be-together-section {
		height: 350px;
	}
	.seshat-slogan {
		font-size: 26px;
		margin: 0 16px;
		padding-top: 24px;
	}
	.seshat-sub-slogan {
		font-size: 16px;
		margin: 0 16px;
		padding-top: 8px;
	}
	.seshat-create-character {
		padding-top: 200px;
		font-size: 16px;
	}
	.seshat-create-character img {
		height: 12px;
	}
	.seshat-fab {
		display: none;
	}
	.seshat-wear-band-text {
		margin-left: 0;
		padding: 16px;
	}
	.seshat-footer .mdl-mega-footer--bottom-section {
		display: none;
	}
}