/**
* Base colors:
* Default text   : #7f8c8d - rgb(127, 140, 141)
* Primary color  : #2980b9 - rgb(41, 128, 185)
* Secondary color: #ecf0f1 - rgb(236, 240, 241)
* Success color  : #009688 - rgb(0, 150, 136)
* Error color    : #f44336
*/


/*******************************************
* Fonts
********************************************/
@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
	src: local('Material Icons'), local('MaterialIcons-Regular'),
		url(/fonts/MaterialIcons-Regular.woff2) format('woff2'),
		url(/fonts/MaterialIcons-Regular.woff) format('woff'),
		url(/fonts/MaterialIcons-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/lobster-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lobster'), local('Lobster-Regular'),
       url('/fonts/lobster-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/lobster-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/lobster-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/lobster-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/lobster-v16-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/open-sans-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Open Sans'), local('OpenSans'),
       url('/fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/open-sans-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
       url('/fonts/open-sans-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/open-sans-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/open-sans-v13-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/open-sans-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/open-sans-v13-latin-700.svg#OpenSans') format('svg'); /* Legacy iOS */
}
/*******************************************
* End of fonts
********************************************/

.material-icons {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;  /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	/* Support for all WebKit browsers. */
	-webkit-font-smoothing: antialiased;
	/* Support for Safari and Chrome. */
	text-rendering: optimizeLegibility;
	/* Support for Firefox. */
	-moz-osx-font-smoothing: grayscale;
	/* Support for IE. */
	font-feature-settings: 'liga';
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #7f8c8d;
	padding-bottom: 50px;
}

.lobster {
	font-family: 'Lobster', cursive;
	font-size: 1.1em;
}

a {
	color: #2980b9;
}

nav.header {
	width: 100%;
	height: 4em;
	align-items: center;
	justify-content: space-between;
	text-align:center; /* centrage horizontal */
}

nav.header .logo {
	font-family: 'Lobster', cursive;
	font-size: 2.5em;
	text-decoration: none;
	color: black;
}

nav.header .links {
	height: 100%;
	align-items: center;
}

nav.header .links a {
	text-decoration: none;
	vertical-align:middle;
	padding: 0em 0.5em;
}

article {
	margin-top: 3em;
}

.hidden {
	display: none;
}

.feature {
	margin-top: 1em;
	text-align: center;
}

.feature.withinfo {
	cursor: pointer;
}

.feature.withinfo h3:after {
	content: "help_outline";
	font-family: 'Material Icons';
	z-index: 10;
	font-size: 0.8em;
	color: #2980b9;
	position: relative;
	top: -0.5em;
}

.feature i.material-icons {
	font-size: 2.8em;
}

.feature h3 {
	font-size: 2em;
	font-weight: 400;
	color: #2980b9;
	margin-top: 0.2em;
	margin-bottom: 0.3em;
}

article h1, article h2 {
	font-size: 2.5em;
	font-weight: 400;
	color: #2980b9;
	margin-bottom: 0.2em;
}

.responsivewidth {
	width: 100%;
}

.storytelling span.quote {
	font-family: 'Lobster', cursive;
	font-size: 2em;
	width: 100%;
	text-align: center;
}

.separator {
	margin: auto;
	width: 80%;
	height: 1px;
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(41,128,185,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
}

.moreinfo {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
	background-color: rgba(127, 140, 141, 0.7);
	padding: 10px;
	display: none;
}

.moreinfo > * {
	width: 100%;
	background-color: white;
}

.moreinfo > div {
	position: relative;
	height: 100%;
}

.moreinfo h4 {
	padding-top: 15px;
	margin-bottom: 15px;
	color: #2980b9;
	font-weight: 400;
}

.moreinfo p {
	padding-left: 1em;
	padding-right: 1em;
	padding-bottom: 15px;
	overflow-y: auto;
}

.moreinfo .closebutton {
	position: absolute;
	top: 0;
	right: 0;
	color: #7f8c8d;
	border: none;
	background-color: white;
	font-size: 1em;
	padding: 0;
}

.moreinfo .closebutton  .material-icons {
	font-size: 2em;
	margin-right: 0;
}

#successMessage {
	position: fixed;
	bottom: 0;
	right: 0;
	display: none;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	background: white;
	z-index: 500;
	color: #009688;
	padding: 10px 30px;
	border: 1px #009688 solid;
	width: 100%;
}

 #successMessage .fa {
 	margin-right: 3px;
 }

 #successMessage .closebutton {
 	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	color: #009688;
	border: none;
	background-color: white;
 }
 
 #successMessage .closebutton .fa {
 	font-size: 1em;
 }
 
 #errorMessage {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 500;
	background-color: rgba(127, 140, 141, 0.7);
	display: none;
	flex-direction: column;
	justify-content: center;
 }
 
 #errorMessage > div {
 	background-color: white;
 	border: 1px solid #f44336;
 	color: #f44336;
 	width: 90%;
 	margin: auto;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	padding: 30px 10px; 
 	
 }
 
 #errorMessage .closebutton {
 	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	color: #f44336;
	border: none;
	background-color: white;
 }
 
 #errorMessage .fa {
 	font-size: 4em;
 }
 
 #errorMessage #errorMessageContent {
 	margin-top: 20px;
}
 
 #errorMessage .closebutton .fa {
 	font-size: 2em;
 }
 
 #confirmationMessage {
 	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 500;
	background-color: rgba(127, 140, 141, 0.7);
	display: none;
	flex-direction: column;
	justify-content: center;
 }
 
 #confirmationMessage > div {
 	background-color: white;
 	border: 1px solid #2980b9;
 	color: #2980b9;
 	width: 90%;
 	margin: auto;
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	padding: 30px 10px; 
 	
 }
 
 #confirmationMessage > div > div > .fa {
 	font-size: 4em;
 }
 
 #confirmationMessage .confirmationButtons {
 	display: flex;
 	flex-direction: row;
 	margin-top: 20px;
 	width: 100%;
 	justify-content: space-between;
 }
 
 #confirmationMessage .btn {
 	display: flex;
	flex-direction: row;
	align-content: center;
 }
 
 #confirmationMessage .btn .fa {
 	align-self: center;
 	margin-right: 3px;
 }
 
 

/*****************
* Start of login *
******************/
.loginTitle {
	width: 100%;
	text-align:center;
	font-size: 7em;
	color: #7f8c8d;
}

#login,
#createnewproject,
#createUser {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin: auto;
	max-width: 400px;
}

#login h1,
#createUser h1,
#createnewproject h2 {
	align-self: center;
}

#login {
	margin-bottom: 2em;
}

#createUser {
	margin-top: 2em;
}

.login-overlay h1,
#chpwd-overlay h1 {
	font-size: 2.5em;
	font-weight: 400;
	color: #2980b9;
	margin-bottom: 0.1em;
}

.login-overlay {
	padding: 0 20px 20px 20px;
	z-index: 100;
	position: absolute;
	right: 0;
	background: white;
	display: none;
}

#chpwd-overlay {
	padding: 0 20px 20px 20px;
	z-index: 100;
	position: absolute;
	right: 0;
	background: white;
	display: none;
}

/***************
* End of login *
***************/

/****************
* Form controls *
****************/
form {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	margin-left: 2em;
	margin-right: 2em;
}

.form-control {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.form-buttons {
	align-self: flex-end;
}

.required label:after {
	content: " *";
	color: #f44336;
}

.btn {
	border: none;
	padding: 0.5em 1em;
	border-radius: 5px;
	background-color: #ecf0f1;
	color: #7f8c8d;
}

.btn-cancel {
	margin-right: 20px;
}

.btn-primary {
	background-color: #2980b9;
	color: white;
}

.btn-deactivated {
	background-color: #ecf0f1;
}

.error {
	color: #f44336;
	font-style: italic;
}

.invalid.touched {
	border-color: #f44336;
	border-style: solid;
	border-size: 1px;
	color: #f44336;
}

.invalid.touched:focus {
	outline-color: #f44336;
}

.invalid.untouched ~ .error {
	display: none;
}

.invalid.touched ~ .error {
	font-size: 0.9em;
}
/***********************
* End of form controls *
************************/

/**************
* Editor page *
***************/

#features {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	margin-bottom: 2em;
}

#features .book {
	flex: 0 0 20%;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	cursor: pointer;
}

#features .book .fa {
	font-size: 3em;
}

#editor {
	width: 100%;
}

#editor h3 {
	width: auto;
	margin:auto;
	font-weight: normal;
}

#editor .chapter_title {
	font-style: italic;
	font-weight: 200;
	border: none;
	background-color: transparent;
}

#editor .chapter_title:focus{
	outline-style: none;
}

#editor h3 > span {
	padding: 4px;
}

#editor h3 > span.buttons {
	display: inline;
	opacity: 0;
}

#editor h3 > span.buttons .button {
	margin-right: 3px;
}

#editor h3:hover {
	color: #2980b9;
}

#editor h3:hover > span.content {
	border: 1px #2980b9;
	border-style: solid none solid solid;
	border-radius: 5px 0px 0px 5px; 
}

#editor h3:hover > span.buttons {
	opacity: 1;
	border: 1px #2980b9 solid;
	border-radius: 0px 5px 5px 0px; 
}

#editor_content {
	padding-left: 5%;
	padding-right: 5%;
}

.chapter {
	background: no-repeat url(/images/paperbackground.png) 0 0;
	background-color: #EBEBEB;
	background-repeat: repeat;
	color: black;
	padding: 1em 2em;
	box-shadow: 0px 3px 6px 1px rgba(0, 0, 0, 0.4);
	margin-bottom: 2em; 
}

#editor .scene {
	min-height: 50px;
}

#editor .scene:focus {
	outline-style: none;
}

#editor .scene+.scene:before {
	content:"***";
	display: block;
	width: 100%;
	text-align:center;
}

#editor_nav div.chapter_list {
	margin-top: 0.5em;
}

#editor_nav ul.chapter_list {
	list-style-type: none;
	padding: 0;
	margin-top: 0;
	border-top: 1px solid #7f8c8d;
}

#editor_nav li.chapter_list {
	cursor: pointer;
	border-bottom: 1px solid #7f8c8d;
	padding-top: 3px;
	padding-bottom: 3px;
}

#editor_nav li.chapter_list .chapter_title {
	font-style: italic;
}

#editor_nav li.chapter_list .chapter_title[contentEditable=true]:empty:not(:focus):before{
	content:attr(data-text) 
}

#editor i.button {
	cursor: pointer;
}

#editor_nav .button {
	font-size: 1.8em;
	margin-top: 10px;
}

#editor .addChapter i.fa {
	font-size: 2.5em;
	color: #2980b9;
}

#editor .addScene i.fa {
	font-size: 1.5em;
}

#editor .footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	-moz-box-shadow: 0px -2px 3px 0px #7f8c8d;
	-webkit-box-shadow: 0px -2px 3px 0px #7f8c8d;
	-o-box-shadow: 0px -2px 3px 0px #7f8c8d;
	box-shadow: 0px -2px 3px 0px #7f8c8d;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#7f8c8d, Direction=90, Strength=3);
	background-color: white;
}

#outputConfig {
	position: fixed;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
 	z-index: 500;
	background-color: rgba(127, 140, 141, 0.7);
	display: none;
	flex-direction: column;
	justify-content: center;	
}

#outputConfig > div {
 	background-color: white;
 	border: 1px solid #2980b9;
 	color: #2980b9;
 	width: 400px;
 	margin: auto;
 	display: flex;
 	flex-direction: column;
 	align-items: flex-start;
 	padding: 30px 10px; 
}

#outputConfig input, #outputConfig select  {
	width: 100%;
}

#outputConfig h2, #outputConfig h3 {
	align-self: center; 
}

#outputConfig .confirmationButtons {
 	display: flex;
 	flex-direction: row;
 	margin-top: 20px;
 	width: 100%;
 	justify-content: flex-end;
}
 
 
/****************
* End of editor *
*****************/

@media screen and (min-width: 960px) {
	.storytelling span.quote {
		font-family: 'Lobster', cursive;
		font-size: 5em;
		z-index: 100;
		position: absolute;
		top: 1.5em;
		color: #ecf0f1;
		width: 30%;
		text-align: right;
	}
	
	.responsivewidth {
		width: 80%;
	}
	
	.moreinfo {
		padding: 0px;
		padding-top: 50px;
	}
	
	.moreinfo > * {
		width: 500px;
		margin: auto;
	}
	
	.moreinfo > div {
		height: auto;
		max-height: 90%;
	}
	
	.moreinfo p, .moreinfo ul {
		text-align: left;
	}
	
	.v-separator {
		width: 1px;
		margin-left: 15px;
		margin-right: 15px;
		background: rgba(255,255,255,1);
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
		background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(41,128,185,1)), color-stop(100%, rgba(255,255,255,1)));
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
		background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(41,128,185,1) 50%, rgba(255,255,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 );
	}
	
	#successMessage {
		width: auto;
	}
	
	#errorMessage > div {
		max-width: 400px;
	}
	
	#confirmationMessage .confirmationButtons {
		width: 50%;
	 	justify-content: space-around;
	 }
}