<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
		
        <meta charset="${_response_encoding}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="@{'/public/css/font-awesome.min.css'}">
        <link rel="stylesheet" href="@{'/public/css/knacss.css'}">
        <link rel="stylesheet" href="@{'/public/css/main.css'}">
        #{get 'moreStyles' /}
        
        <script type="text/javascript" src="@{'/public/js/jquery-1.11.3.min.js'}" ></script>
        <script type="text/javascript" src="@{'public/js/cryptojs/rollups/aes.js'}"></script>
        <script type="text/javascript" src="@{'public/js/cryptojs/rollups/sha256.js'}"></script>
		<script type="text/javascript" src="@{'public/js/cryptojs/rollups/pbkdf2.js'}"></script>
		<script type="text/javascript" src="@{'public/js/lz-string.min.js'}" ></script>
		<script type="text/javascript" src="@{'public/js/model/project.js'}"></script>
		<script type="text/javascript" src="@{'public/js/connected.js'}"></script>
		<script type="text/javascript" src="@{'public/js/main.js'}"></script>
		<script type="text/javascript" src="@{'public/js/vue.min.js'}"></script>
        #{get 'moreScripts' /}
		
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body lang="en">
		<nav class="header flex-container">
			<a href="/" class="logo mll">Seshat</a>
			<div class="links mrs flex-container">
				#{secure.check "administrator"}
					<a href="@{Administration.index}" title="Admin section"><i class="fa fa-cogs"></i> Administration</a>
				#{/secure.check}
				<a href="/logout" title="Logout"><i class="fa fa-power-off"></i> ${user.username}</a>
			</div>
		</nav>
		<div id="main_content">
			#{doLayout /}
		</div>
	</body>
</html>
