<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
		
        <meta charset="${_response_encoding}">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <link rel="stylesheet" href="@{'/public/css/font-awesome.min.css'}">
        <link rel="stylesheet" href="@{'/public/css/knacss.css'}">
        <link rel="stylesheet" href="@{'/public/css/main.css'}">
        #{get 'moreStyles' /}
        
        <script type="text/javascript" src="@{'/public/js/jquery-1.11.3.min.js'}" ></script>
        <script type="text/javascript" src="@{'public/js/cryptojs/rollups/aes.js'}"></script>
        <script type="text/javascript" src="@{'public/js/cryptojs/rollups/sha256.js'}"></script>
		<script type="text/javascript" src="@{'public/js/cryptojs/rollups/pbkdf2.js'}"></script>
		<script type="text/javascript" src="@{'public/js/lz-string.min.js'}" ></script>
		<script type="text/javascript" src="@{'public/js/model/project.js'}"></script>
		<script type="text/javascript" src="@{'public/js/connected.js'}"></script>
		<script type="text/javascript" src="@{'public/js/main.js'}"></script>
		<script type="text/javascript" src="@{'public/js/vue.min.js'}"></script>
		<script type="text/javascript" src="@{'public/js/vue-validator.min.js'}"></script>
        #{get 'moreScripts' /}
		
		<link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
    </head>
    <body lang="en">
		<nav class="header flex-container">
			<a href="/" class="logo mll">Seshat</a>
			<div class="links mrs flex-container">
				<p>
					#{if user.getQuota() > 0}
						<meter id="quotameter" name="quota" value="${user.getSpaceConsumed()}" max="${user.getQuota()}" min="0" high="${user.getQuota() * 0.9}" title="Space consumed: ${user.getSpaceConsumed()}/${user.getQuota()}">
							${user.getSpaceConsumed()} bytes consumed / ${user.getQuota()} available
						</meter>
					#{/if}
				</p>
				#{secure.check "administrator"}
					<a href="@{Administration.index}" title="Admin section"><i class="fa fa-cogs"></i> Administration</a>
				#{/secure.check}
				<a href="/projects" title="&{'public.header.button.myprojects'}"><i class="fa fa-book"></i> &{'public.header.button.myprojects'}</a>
				<a href="#" title="&{'secure.changepassword'}" onclick="javascript:toggleOverlay('chpwd-overlay')"><i class="fa fa-lock"></i> &{'secure.changepassword'}</a>
				<a href="/logout" title="&{'secure.logout'}"><i class="fa fa-power-off"></i> ${user.username}</a>
			</div>
		</nav>
		<div id="chpwd-overlay">			
			<div class="flex-container">
				<div id="chpwd">
					<h1>&{'secure.changepassword'}</h1>
					<validator name="validationNewPassword">
						<form id="newPwdForm">
							<p id="currentpwd-field" class="form-control required">
								<label for="currentpwd">&{'secure.password.current'}</label>
								<input type="password" name="currentpwd" id="currentpwd" value="" v-validate:currentpwd="{required: true, validatepassword: true}"/>
								<span v-if="$validationNewPassword.currentpwd.required" class="error">&{'secure.validation.password.current.required'}</span>
								<span v-if="$validationNewPassword.currentpwd.required == false && $validationNewPassword.currentpwd.validatepassword" class="error">&{'project.validation.password.validate'}</span>
							</p>
							<p id="newpwd-field" class="form-control required">
								<label for="newpwd">&{'secure.password.new'}</label>
								<input type="password" name="newpwd" id="newpwd" value="" v-validate:newpwd="{required: true, minlength: 8}"/>
								<span v-if="$validationNewPassword.newpwd.required" class="error">&{'secure.validation.password.new.required'}</span>
								<span v-if="$validationNewPassword.newpwd.required == false && $validationNewPassword.newpwd.minlength" class="error">&{'secure.validation.password.minlength' , 8}</span>
							</p>
							<p id="newpwd2-field" class="form-control required">
								<label for="newpwd2">&{'secure.password.new2'}</label>
								<input type="password" name="newpwd2" id="newpwd2" value="" v-validate:newpwd2="{required: true, minlength: 8, equalValues: 'newpwd'}"/>
								<span v-if="$validationNewPassword.newpwd2.required" class="error">&{'secure.validation.password.new2.required'}</span>
								<span v-if="$validationNewPassword.newpwd2.required == false && $validationNewPassword.newpwd2.minlength" class="error">&{'secure.validation.password.minlength' , 8}</span>
								<span v-if="$validationNewPassword.newpwd2.equalValues" class="error">&{'secure.validation.password.samepasswords'}</span>
							</p>
							<p id="signin-field" class="form-buttons">
								<input type="submit" id="changePwd" value="&{'secure.changepassword'}" class="btn btn-primary" onclick="return changePassword()" v-if="$validationNewPassword.valid"/>
								<input type="submit" id="changePwd" value="&{'secure.changepassword'}" class="btn btn-deactivated" disabled="disabled" v-else/>
							</p>
						</form>
					</validator>
				</div>
			</div>		
		</div>
		<script>
			$(document).ready(function() {
				Vue.use(VueValidator);
				new Vue({
					el: '#chpwd',
					validators: {
						equalValues: function(val, rule) {
							return val == $("#" + rule).val();
						},
						validatepassword: function(val) {
							var masterKey = readCookie("masterKey");
							var sha256Password = CryptoJS.SHA256(val).toString(CryptoJS.enc.Hex)
							return sha256Password == masterKey;		
						}
					}
				})	
			});
		</script>
		<div id="main_content">
			#{doLayout /}
		</div>
		<div id="successMessage">
			<div><i class="material-icons">done</i></div>
			<div id="successMessageContent"></div>
			<button class="closebutton" onclick="javascript:closeSuccess()"><i class="material-icons">clear</i></button>
		</div>
		<div id="errorMessage">
			<div>
				<div><i class="material-icons">error</i></div>
				<div id="errorMessageContent"></div>
				<button class="closebutton" onclick="javascript:closeError()"><i class="material-icons">clear</i></button>
			</div>
		</div>
	</body>
</html>
